.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.team-item {
  background-color: #f0f0f0; /* Grey background */
  padding: 10px; /* Comfortable padding */
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically in the center */
  justify-content: center; /* Align items horizontally in the center */
  margin-bottom: 10px; /* Add some bottom margin for spacing between items */
}

header {
  background-color: #003366; /* Dark blue background color */
  color: #ffffff; /* White text color */
  padding: 20px; /* Padding around the header content */
  text-align: center; /* Center align text */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  font-family: Arial, sans-serif; /* Font family */
}

h1 {
  margin: 0; /* Remove default margin for h1 */
  font-size: 32px; /* Larger font size for the main heading */
}

p {
  margin-top: 10px; /* Add some space between heading and paragraph */
  font-size: 18px; /* Font size for the paragraph */
}
.team-info h3 {
  margin-bottom: 10px; /* Add space below each h3 element */
  padding-left: 30px;
}
